<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hsc.demo.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="org.hsc.demo.entity.Role" >
    <id column="ROLEID" property="roleid" jdbcType="VARCHAR" />
    <result column="ROLENAME" property="rolename" jdbcType="VARCHAR" />
    <result column="CREATEUSER" property="createuser" jdbcType="VARCHAR" />
    <result column="MODIFYDATE" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="ISACTIVE" property="isactive" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLEID, ROLENAME, CREATEUSER, MODIFYDATE, ISACTIVE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.hsc.demo.entity.Role" >
    insert into role (ROLEID, ROLENAME, CREATEUSER, 
      MODIFYDATE, ISACTIVE)
    values (#{roleid,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, 
      #{modifydate,jdbcType=TIMESTAMP}, #{isactive,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="org.hsc.demo.entity.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="rolename != null" >
        ROLENAME,
      </if>
      <if test="createuser != null" >
        CREATEUSER,
      </if>
      <if test="modifydate != null" >
        MODIFYDATE,
      </if>
      <if test="isactive != null" >
        ISACTIVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="isactive != null" >
        #{isactive,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.hsc.demo.entity.Role" >
    update role
    <set >
      <if test="rolename != null" >
        ROLENAME = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        CREATEUSER = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="isactive != null" >
        ISACTIVE = #{isactive,jdbcType=BIT},
      </if>
    </set>
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.hsc.demo.entity.Role" >
    update role
    set ROLENAME = #{rolename,jdbcType=VARCHAR},
      CREATEUSER = #{createuser,jdbcType=VARCHAR},
      MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      ISACTIVE = #{isactive,jdbcType=BIT}
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </update>
</mapper>